.home_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin-top: none;
}

.content_box1 {
    flex-grow: 1;
    box-sizing: border-box;
}

.content_box2 {
    flex-grow: 1;
    box-sizing: border-box;
}

.content_box3 {
    flex-grow: 1;
    box-sizing: border-box;
}