.button_addpdf {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button_addpdf span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button_addpdf span:after {
    content: '\00bb';
    /* position: absolute; */
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button_addpdf:hover span {
    padding-right: 25px;
  }
  
  .button_addpdf:hover span:after {
    opacity: 1;
    right: 0;
  }

  .text_file{
    background-color: none;
  }