.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ff6f3c;
  border-right: 2px solid black;
  min-height: 100vh;
}

.custom-file-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 2px solid white;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px; 
  border-radius: 10px;
  font-size: 28px;
  padding: 20px;
  width: 200px;
}

.custom-file-input:hover {
  background-color: white;
  color: black;
}

.preview {
  border: 1px solid #ccc;
  padding: 10px;
  width: 90%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

img,
iframe {
  max-width: 100%;
  height: auto;
}